<%- include('../partials/admin_header.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <body>
      <canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>

      <script>
        var xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
        var yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];

        new Chart("myChart", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [
              {
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValues,
              },
            ],
          },
          options: {
            legend: { display: false },
            scales: {
              yAxes: [{ ticks: { min: 6, max: 16 } }],
            },
          },
        });
      </script>
    </body>
<div class="container">
    <canvas id="mChart" style="width: 100%; max-width: 600px"></canvas>

    <script>
      var xValues = ["Delivered", "Out for Delivary", "Canceled", "Shipped", "Placed"];
      var yValues = [55, 49, 44, 24, 15];
      var barColors = ["red", "green", "blue", "orange", "brown"];

      new Chart("mChart", {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [
            {
              backgroundColor: barColors,
              data: yValues,
            },
          ],
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "World Wine Production 2018",
          },
        },
      });
    </script>
</div>



<script>

// Chart Global Color
Chart.defaults.color = "#6C7293";
Chart.defaults.borderColor = "#000000";


// Worldwide Sales Chart
maiin($)

// Salse & Revenue Chart
// var ctx2 = $("#salse-revenue").get(0).getContext("2d");
// var myChart2 = new Chart(ctx2, {
//     type: "line",
//     data: {
//         labels: ["2016", "2017", "2018", "2019", "2020", "2021", "2022"],
//         datasets: [{
//                 label: "Salse",
//                 data: [15, 30, 55, 45, 70, 65, 85],
//                 backgroundColor: "rgba(235, 22, 22, .7)",
//                 fill: true
//             },
//             {
//                 label: "Revenue",
//                 data: [99, 135, 170, 130, 190, 180, 270],
//                 backgroundColor: "rgba(235, 22, 22, .5)",
//                 fill: true
//             }
//         ]
//         },
//     options: {
//         responsive: true
//     }
// });


// // Doughnut Chart
maiin2($)
// var ctx6 = $("#doughnut-chart").get(0).getContext("2d");
// var myChart6 = new Chart(ctx6, {
//     type: "doughnut",
//     data: {
//         labels: ["Italy", "France", "Spain", "USA", "Argentina"],
//         datasets: [{
//             backgroundColor: [
//                 "rgba(235, 22, 22, .7)",
//                 "rgba(235, 22, 22, .6)",
//                 "rgba(235, 22, 22, .5)",
//                 "rgba(235, 22, 22, .4)",
//                 "rgba(235, 22, 22, .3)"
//             ],
//             data: [55, 49, 44, 24, 15]
//         }]
//     },
//     options: {
//         responsive: true
//     }
// });

// Single Line Chart
// var ctx3 = $("#line-chart").get(0).getContext("2d");
// var myChart3 = new Chart(ctx3, {
//     type: "line",
//     data: {
//         labels: [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150],
//         datasets: [{
//             label: "Salse",
//             fill: false,
//             backgroundColor: "rgba(235, 22, 22, .7)",
//             data: [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15]
//         }]
//     },
//     options: {
//         responsive: true
//     }
// });


// Single Bar Chart

// var ctx4 = $("#bar-chart").get(0).getContext("2d");
// var myChart4 = new Chart(ctx4, {
//     type: "bar",
//     data: {
//         labels: ["Italy", "France", "Spain", "USA", "Argentina"],
//         datasets: [{
//             backgroundColor: [
//                 "rgba(235, 22, 22, .7)",
//                 "rgba(235, 22, 22, .6)",
//                 "rgba(235, 22, 22, .5)",
//                 "rgba(235, 22, 22, .4)",
//                 "rgba(235, 22, 22, .3)"
//             ],
//             data: [55, 49, 44, 24, 15]
//         }]
//     },
//     options: {
//         responsive: true
//     }
// });


// Pie Chart
// var ctx5 = $("#pie-chart").get(0).getContext("2d");
// var myChart5 = new Chart(ctx5, {
//     type: "pie",
//     data: {
//         labels: ["Italy", "France", "Spain", "USA", "Argentina"],
//         datasets: [{
//             backgroundColor: [
//                 "rgba(235, 22, 22, .7)",
//                 "rgba(235, 22, 22, .6)",
//                 "rgba(235, 22, 22, .5)",
//                 "rgba(235, 22, 22, .4)",
//                 "rgba(235, 22, 22, .3)"
//             ],
//             data: [55, 49, 44, 24, 15]
//         }]
//     },
//     options: {
//         responsive: true
//     }
// });




// })(jQuery);

function maiin($){
$.ajax(({
    url:'/admin/chart1',
    mathod:'get',
    success:(res)=>{
        const month=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        const count=[]
        // res.salesRep.forEach(element => {
        //     month.push(element._id.month)
        // });
        
        res.salesRep.forEach(element => {
            count.push(element.count)
        })
var myChart1 = new Chart('worldwide-sales', {
    type: "bar",
    data: {
        labels:month,
        datasets: [{
                label:'Sales Count',
                data: count,
                backgroundColor: "rgba(235, 22, 22, .7)"
            },
        ]
        },
    options: {
        responsive: true
    }
});
    }
}))
}

function maiin2($){
$.ajax(({
    url:'/admin/chart2',
    mathod:'get',
    success:(res)=>{
        
        const count=[]
        res.payment.forEach(element => {
            count.push(element.count)
        })
        var myChart6 = new Chart('doughnut-chart', {
                type: "doughnut",
                data: {
                    labels:['razorPay','cod'],
                    datasets: [{
                        backgroundColor: [
                            "rgba(235, 22, 22, .6)",
                            "rgba(235, 22, 22, .3)"
                        ],
                        data: count
                    }]
                },
                options: {
                    responsive: true
                }
            });
    }
}))
}
</script>