<%- include('../partials/admin_header.ejs') %>
<div class="container-xxl position-relative justify-content-center d-flex p-0">
  <!-- Content Start -->
  <div class="content">
    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
      <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
          <div
            class=" rounded d-flex align-items-center justify-content-between p-4"
          >
            <i class="fa fa-chart-line fa-3x text-primary"></i>
            <div class="ms-3">
              <p class="mb-2">Today Sale</p>
              <h6 class="mb-0">
                44
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div
            class="rounded d-flex align-items-center justify-content-between p-4"
          >
            <i class="fa fa-chart-bar fa-3x text-primary"></i>
            <div class="ms-3">
              <p class="mb-2">Total Sale</p>
              <h6 class="mb-0">
                33
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div
            class=" rounded d-flex align-items-center justify-content-between p-4"
          >
            <i class="fa fa-chart-area fa-3x text-primary"></i>
            <div class="ms-3">
              <p class="mb-2">Today Revenue</p>
              <h6 class="mb-0">
                66
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div
            class=" rounded d-flex align-items-center justify-content-between p-4"
          >
            <i class="fa fa-chart-pie fa-3x text-primary"></i>
            <div class="ms-3">
              <p class="mb-2">Total Revenue</p>

              <h6 class="mb-0">55 </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sale & Revenue End -->

    <!-- Sales Chart Start -->
    <div class="container-fluid pt-4 px-4">
      <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
          <div class=" text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-center mb-4">
              <h6 class="mb-0">Yearly Sales</h6>
              <!-- <a href="">Show All</a> -->
            </div>
            <canvas id="worldwide-sales" style="width: 50%"></canvas>
          </div>
        </div>
        <div class="col-sm-12 col-xl-6">
          <div class=" text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-center mb-4">
              <h6 class="mb-0">Monthly Sales</h6>
              <!-- <a href="">Show All</a> -->
            </div>
            <canvas id="salse-revenue"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Sales Chart End -->

  

    <!-- Footer Start -->

    <!-- Footer End -->
  </div>
  <!-- Content End -->

  <!-- Back to Top -->
</div>

