<header>
  <div class="header-area">
    <div class="main-header">
      <div class="container-fluid">
        <div class="menu-wrapper">
          <div class="logo">
            <a href="#"
              ><img src="/assets/img/logo/logo.png" alt=""
            /></a>
          </div>

          <div class="main-menu d-none d-lg-block">
            <nav>
              <ul id="navigation">
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="products">Products</a></li>
                <li><a href="users">Users</a></li>
                <li><a href="categorys">Categorys</a></li>

                <!--             
                  <li><a href="contact.html">Contact</a></li> -->
              </ul>
            </nav>
          </div>

          <div class="header-right">
            <ul>
              <li>
                <div class="nav-search search-switch">
                  <span class="flaticon-search"></span>
                </div>
              </li>
              <li>
                <a href="#"><span class="flaticon-user"></span></a>
              </li>
              
            </ul>
          </div>
        </div>

        <div class="col-12">
          <div class="mobile_menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</header>
