<footer>
  <div class="footer-area padding 0;">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="single-footer-caption mb-30">
              <div class="footer-logo">
                <a href="index.html"
                  ><img src="/assets/img/logo/logo2_footer.png" alt=""
                /></a>
              </div>
              <div class="footer-tittle">
                <div class="footer-pera">
                  <p>
                    Time is free,but its priceless.You cant own it,but you can
                    use it.Once you've lost it you can never get it back.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
