<%- include('../partials/user_header.ejs') %>
<div class="slider-area">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>About</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div style="margin-top: 50px;" class="about-details">
    <div class="container">
      <div class="row">
        <div class="offset-xl-1 col-lg-8">
          <div class="about-details-cap mb-50">
            <h4>Our Mission</h4>
            <p>
              Consectetur adipiscing elit, sued do eiusmod tempor ididunt
              udfgt labore et dolore magna aliqua. Quis ipsum suspendisces
              gravida. Risus commodo viverra sebfd dho eiusmod tempor
              maecenas accumsan lacus. Risus commodo viverra sebfd dho
              eiusmod tempor maecenas accumsan lacus.
            </p>
            <p>
              Risus commodo viverra sebfd dho eiusmod tempor maecenas
              accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor
              maecenas accumsan.
            </p>
          </div>
          <div class="about-details-cap mb-50">
            <h4>Our Vision</h4>
            <p>
              Consectetur adipiscing elit, sued do eiusmod tempor ididunt
              udfgt labore et dolore magna aliqua. Quis ipsum suspendisces
              gravida. Risus commodo viverra sebfd dho eiusmod tempor
              maecenas accumsan lacus. Risus commodo viverra sebfd dho
              eiusmod tempor maecenas accumsan lacus.
            </p>
            <p>
              Risus commodo viverra sebfd dho eiusmod tempor maecenas
              accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor
              maecenas accumsan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
