<%- include('../partials/user_header.ejs') %>
<div class="container-fluid">
  <div class="row">
    <div style="display: flex; justify-content: center" class="col-lg-12">
      <h1>Order Success</h1>
    </div>
    <div style="display: flex; justify-content: center" class="col-lg-12 md-12 ">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVU71b66SrpFNlzWISLfXb-KMAArnbyMPvHIcAdt7oaEXTahanH5IX8BInjgt5ZdU3_A0&usqp=CAU"
        alt=""
      />
    </div>
    <div style="display: flex; justify-content: space-around" class="col-lg-12">
      <a href="/orders" class="btn_3">View Orders</a>
      <a href="/shop" class="btn_1">Continue Shopping</a>
      <a href="/invoice" class="btn_3">Check Invoice</a>
    </div>
  </div>
</div>
 