<div class="logo">
  <a href="#"
    ><img style="padding-left: 580px; margin: 10px; " src="/assets/img/logo/logo.png" alt=""
  /></a>
</div>
    <main>
      <div class="slider-area">
        <div class="single-slider slider-height2 d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="hero-cap text-center">
                  <h2>Create New Account</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="login_part padding-0;">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="login_part_text text-center">
                <div class="login_part_text_iner">
                  <h2>New to our Shop?</h2>
                  <p>
                    We just heard an awesome new person became a part of our team!
                     We welcome you with open arms..
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="login_part_form">
                <div class="login_part_form_iner">
                   <h3>
                    Welcome ! <br />
                    Please Enter Your Details
                  </h3> 
                  <form
                    class="row contact_form"
                    action="/signup"
                    method="post"
                    
                  >
                    <div class="col-md-12 form-group p_star">
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        value=""
                        placeholder="Full Name"
                      />
                    </div>
                   
                    <div class="col-md-12 form-group p_star">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        value=""
                        placeholder="Password"
                      />
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="confirmPassword"
                        value=""
                        placeholder="Confirm Password"
                      />
                    </div>

                  
                   
                     
                      
                    <div class="col-md-12 form-group p_star">
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        value=""
                        placeholder="Email"
                      />
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input
                        type="tel"
                        class="form-control"
                        id="email"
                        name="mobile"
                        value=""
                        placeholder="Mobile Number"
                      />
                    </div>
                    <div class="col-md-12 form-group">
                      <!--  -->
                      <button type="submit" value="submit" class="btn_3">
                        register
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

   

   
